*{
    display: inline-block;
}

.malutka {
    width: 0;
    height: 0;
    border-bottom: 30px solid rgb(231, 129, 223);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
}

.bigboy {
    width: 0;
    height: 0;
    border-top: 100px solid rgb(70, 10, 67);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}