* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
    align-content: baseline;
    margin-top: 100px;
}

.red {
    width: 90px;
    height: 90px;
    background-color: red;
    rotate: 135deg;
    border-radius: 5px;
}

.yellow {
    width: 80px;
    height: 80px;
    background-color: yellow;
    rotate: 135deg;
    border-radius: 5px;
}

.green {
    width: 70px;
    height: 70px;
    background-color: green;
    rotate: 135deg;
    border-radius: 5px;
}