body {
    height: 1080px;
    width: 1920px;
}

.center {
    height: 1080px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-content {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(85, 84, 84);
    border: 1px solid black;
    border-radius: 20px;
}

.item-1 {
    height: 147.4px;
    width: 147.4px; /* такие значения потому что иначе блок был бы 152 пкс [вместе с бордером] */
    background-color: grey;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

.item-1 > p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    line-height: 115px;
}